/* Place your CSS styles in this file */

#shadowBox {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}

.rainbow{
    animation: colorRotate 6s linear 0s infinite;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
